html, body  { width: 100%; height: 100%; padding: 0; margin: 0;}
#borderLayout{
    width:100%;
    height:100%;
}
#center-tab .om-panel-body{
    padding: 0;
}



tr{height:26px;line-height:26px;}

form#seatchForm .tableForm tr{height:20px;}

